<!doctype html>
<html class="backgroundpag" lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Informacion Sobre los Cazadores de Demonios">
    <meta name="keywords" content="cazadores demonios demon slayers respiraciones historia nosotros inicios">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Mi Css -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">

    <title>Sobre Nosotros</title>
  </head>
  <body class="backgroundpag">
      <!-- nav y logo -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
      <!-- nav y logo -->
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/index.html"><img src="/imgs/logo.png" alt="logo" width="20%"></a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/views/nosotros.html">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/unete.html">Unete</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/miembros.html">Miembros</a>
            </li>
          </ul>
        </div>
            </div>
        </div>
    </div>
	</header>	
	<!-- cierre header -->
	<!-- Inicio Contenido -->
	<div class="container-fluid">
		<div class="row">
		  <div class="col-lg-12 col-xs-12">	
		<section>
			<article>
				<h1 style="font-size: 40px; color: brown; text-align: center;">Nuestra Historia</h1>
				<div><h3 class="tituloizq">Inicios</h3>
					<p style="color: #B11EE0;">Fue fundada por la Familia Ubuyashiki hace más de 1000 años debido que, tras el hecho de que uno de sus miembros se convirtiera en demonio, toda la familia fue maldecida y todos los recién nacidos morían poco tiempo después del nacimiento. Los sacerdotes les aconsejaron encomendar su vidas a matar al demonio y de ese modo, el apellido Ubuyashiki podría seguir existiendo por muchos más años. Desde entonces se llevó a cabo la fundación de la organización y fue liderado por cientos de generaciones por miembros de la Familia Ubuyashiki.</p>
				</div>
					<div data-aos="fade-right"
					data-aos-offset="300"
					data-aos-easing="ease-in-sine">
						<img src="/imgs/historia.png" alt="historia" width="40%">
					</div>
				<div><h3 class="tituloizq">Respiraciones</h3>
					<p style="color: #B11EE0;">Los estilos de respiración son estilos de esgrima que hacen uso de una técnica de respiración esotérica conocida como respiración de concentración total practicada y enseñada por el Cuerpo de Cazadores de Demonios y son utilizados en combate por Demon Slayers (más tarde pasados ​​como bailes tradicionales después del salto temporal).</p>
				</div>
					<div data-aos="fade-right"
					data-aos-offset="300"
					data-aos-easing="ease-in-sine">
						<img src="/imgs/respiracion.png" alt="resp" width="40%">
					</div>
			</article>
		</section>
			</div>
		</div>
	</div>
	<!-- Cierre Contenido -->
	<!-- inicio footer -->
    <div class="container-fluid">
		<div class="row">
		  <div class="col-lg-12 col-xs-12">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			  <!-- Navbar links -->
				<ul class="navbar-nav">
				  <li class="nav-item">
					<a class="nav-link" href="/views/contacto.html">Contacto</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/views/redes.html">Redes</a>
				  </li>
				</ul>
			  </div>
			</nav>
		  </div>
		  </div>
	  </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" ></script>
    <script>
      AOS.init();
    </script>
	</body>
  </html>